.main {
    color: white;
}

.players {
    display: flex;
}

.table,
td,
th {
    border: 1px solid white;
}




button {
    display:inline;
    margin-left: 10px;
    padding: 5px 10px;
}

h3 {
    display: inline-block
}