.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color:white;
  font-size: 2vw;
  padding: 15% 25%;
}

.object {
  background-color: aqua;
  width: 200vmin;
}